* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
}

body, input, select, textarea, button{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.content-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

header {
  background-color: #f4f4f4;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.header-container img {
  max-width: 200px;
}

.header-container nav {
  display: flex;
  gap: 16px;
  align-items: center;
}

.header-container nav a {
  font-weight: bold;
  color: #026532;
  font-size: 1.5rem;
  cursor: pointer;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.header-container nav a:hover {
  border-bottom: 1px solid #026532;
}

.header-container nav button {
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  background-color: #026532;
  color: #fff;
  font-weight: bold;
}

.header-container nav button:hover {
  filter: brightness(0.9);
  transition: filter 0.2s;
}

main {
  padding: 0 1rem;
  position: relative;
  overflow: hidden;
  isolation: isolate;
}

main > img {
  /* className=" -z-10  object-cover brightness-35" */
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0px;
  object-fit: cover;
  z-index: -1;
}

.hero-container {
  padding: 12rem 0;
}

.hero-container div {
  width: 100%;
  max-width: 600px;
}

.hero-container h1 {
  color: #fff;
  font-size: 3.25rem;
  margin-bottom: 0.5rem;
}

.hero-container p {
  color: #f4f4f4;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.hero-container button {
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  background-color: #026532;
  color: #fff;
  font-weight: bold;
}

.service-sectors{
  width: 100%;
  background-color: #026532;
  text-align: center;
  padding: 3rem 0 7rem;
}

.service-sectors h1{
  color: #fff;
}

.sectors-cards-container{
  display: grid;
  gap: 1rem;
  margin-top: 4rem;
}

/* Layout padrão: 5 colunas */
.sectors-cards-container {
  grid-template-columns: repeat(5, 1fr);
}

/* Quando a largura da tela for menor que 800px: 3 colunas */
@media (max-width: 800px) {
  .sectors-cards-container {
    grid-template-columns: repeat(6, 1fr);
  }

  .sector-card {
    grid-column: span 2;
  }

  .sector-card:nth-child(4) {
    grid-column: 2 / span 2;
  }
}

/* Quando a largura da tela for menor que 600px: 2 colunas */
@media (max-width: 600px) {
  .sectors-cards-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .sector-card {
    grid-column: span 2;
  }

  .sector-card:nth-child(4) {
    grid-column: span 2;
  }

  .sector-card:nth-child(5) {
    grid-column: 2 / span 2;
  }
}

/* Quando a largura da tela for menor que 362px: 1 coluna */
@media (max-width: 362px) {
  .sectors-cards-container {
    grid-template-columns: 1fr;
  }

  .sector-card:nth-child(5) {
    grid-column: span 2;
  }
}

.sector-card{
  background-color: #f4f4f4;
  color: #026532;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 4px;
}

footer {
  width: 100%;
  background-color: #026532;
  text-align: center;
}

footer span {
  color: #fff;
  font-size: 1rem;
}