* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
}

body, input, select, textarea, button{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.content-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

header {
  background-color: #f4f4f4;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.header-container img {
  max-width: 200px;
}

.header-container nav {
  display: flex;
  gap: 16px;
  align-items: center;
}

.header-container nav a {
  font-weight: bold;
  color: #006635;
  font-size: 1.5rem;
  cursor: pointer;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.header-container nav a:hover {
  border-bottom: 1px solid #006635;
}

.header-container nav button {
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  background-color: #006635;
  color: #fff;
  font-weight: bold;
}

.header-container nav button:hover {
  filter: brightness(0.9);
  transition: filter 0.2s ease;
}

.header-container .menu-hamburger {
  display: none;
}

.header-container .menu-hamburger svg {
  font-size: 2rem;
  color: #006635;
  cursor: pointer;
}

.header-container .menu-hamburger svg:hover {
  filter: brightness(0.9);
  transition: filter 0.2s ease;
}

@media (max-width: 768px) {
  .header-container nav {
    display: none;
  }

  .header-container .menu-hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#drawer {
  background-color: #e3e3e3;
  width: 100%;
  max-width: 300px;
  padding: 1.5rem;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 40;
  overflow-y: auto;
}

#drawer .drawer-header {
  display: flex;
  justify-content: space-between;
  items-items: center;
  margin-bottom: 2rem;
}

#drawer .drawer-header h5 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #006635;
}

#drawer .drawer-header svg {
  font-size: 2rem;
  font-weight: 600;
  color: #cc2235;
  cursor: pointer;
}

#drawer .drawer-header svg:hover {
  filter: brightness(0.9);
  transition: filter 0.2s ease;
}

#drawer .drawer-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#drawer .drawer-content a {
  font-weight: bold;
  color: #006635;
  font-size: 1.5rem;
  cursor: pointer;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

#drawer .drawer-content a:hover {
  border-bottom: 1px solid #006635;
}

main {
  padding: 0 1rem;
  position: relative;
  overflow: hidden;
  isolation: isolate;
}

main > img {
  /* className=" -z-10  object-cover brightness-35" */
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0px;
  object-fit: cover;
  z-index: -1;
}

.hero-container {
  padding: 12rem 0;
}

.hero-container div {
  width: 100%;
  max-width: 600px;
}

.hero-container h1 {
  color: #fff;
  font-size: 3.25rem;
  margin-bottom: 0.5rem;
}

.hero-container p {
  color: #f4f4f4;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.hero-container button {
  border: 0;
  padding: 1.5rem 3.5rem;
  border-radius: 8px;
  cursor: pointer;
  background-color: #006635;
  color: #fff;
  font-weight: bold;
  font-size: 1.75rem;
}

.hero-container button:hover {
  filter: brightness(0.9);
  transition: filter 0.3s ease;
}

@media (max-width: 600px) {
  .hero-container button {
    padding: 1rem 2.5rem;
    font-size: 1.25rem;
  }
}

.service-sectors{
  width: 100%;
  background-color: #006635;
  text-align: center;
  padding: 3rem 0 7rem;
}

.service-sectors h1{
  color: #fff;
}

.sectors-cards-container{
  display: grid;
  gap: 1rem;
  margin-top: 4rem;
}

/* Layout padrão: 5 colunas */
.sectors-cards-container {
  grid-template-columns: repeat(5, 1fr);
}

/* Quando a largura da tela for menor que 800px: 3 colunas */
@media (max-width: 800px) {
  .sectors-cards-container {
    grid-template-columns: repeat(6, 1fr);
  }

  .sector-card {
    grid-column: span 2;
  }

  .sector-card:nth-child(4) {
    grid-column: 2 / span 2;
  }
}

/* Quando a largura da tela for menor que 600px: 2 colunas */
@media (max-width: 600px) {
  .sectors-cards-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .sector-card {
    grid-column: span 2;
  }

  .sector-card:nth-child(4) {
    grid-column: span 2;
  }

  .sector-card:nth-child(5) {
    grid-column: 2 / span 2;
  }
}

/* Quando a largura da tela for menor que 362px: 1 coluna */
@media (max-width: 362px) {
  .sectors-cards-container {
    grid-template-columns: 1fr;
  }

  .sector-card:nth-child(5) {
    grid-column: span 2;
  }
}

.sector-card{
  background-color: #f4f4f4;
  color: #006635;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 4px;
}

.partners {
  width: 100%;
  background-color: #e3e3e3;
  text-align: center;
  padding: 3rem 0 7rem;
}

.partners h1{
  color: #006635;
}

.partners-container{
  margin: 0 auto;
  max-width: 600px;
  display: grid;
  gap: 5rem;
  margin-top: 4rem;
  grid-template-columns: repeat(6, 1fr);
}

.partners-container img {
  width: 100%;
  grid-column: span 2;
}

.partners-container img:nth-child(4), .partners-container img:nth-child(5) {
  grid-column: span 3;
}

/* Quando a largura da tela for menor que 362px: 1 coluna */
@media (max-width: 430px) {
  .partners-container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .partners-container img:nth-child(1), .partners-container img:nth-child(2), .partners-container img:nth-child(3) {
    max-width: 30%;
    margin: 0 auto;
  }

  .partners-container img:nth-child(4), .partners-container img:nth-child(5) {
    max-width: 70%;
    margin: 0 auto;
  }

  .partners-container img, .partners-container img:nth-child(4), .partners-container img:nth-child(5) {
    grid-column: span 1;
  }
}

.request-service {
  background-color: #006635;
  padding: 3rem 0;
}

.request-service-contact {
  color: white;
  display: flex;
  justify-content: space-between;
}

.request-service-contact strong {
  font-size: 1.5rem;
}

.request-service-contact div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
}

@media (max-width: 800px) {
  .request-service-contact strong {
    font-size: 1rem;
  }
  
  .request-service-contact div {
    gap: 0.25rem;
    font-size: 1rem;
  }

  .request-service-contact svg {
    height: 19px;
  }
}

@media (max-width: 430px) {
  .request-service-contact {
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
  }

  .request-service-contact strong {
    font-size: 1.125rem;
  }
  
  .request-service-contact div {
    gap: 0.3rem;
    font-size: 1.125rem;
  }

  .request-service-contact svg {
    height: 22px;
  }
}

.our-story {
  background-color: #e3e3e3;
  text-align: center;
  padding: 3rem 0 7rem;
}

.our-story h1{
  color: #006635;
}

.our-story-container {
  display: flex;
  gap: 1rem;
  margin-top: 4rem;
}

.our-story-container img {
  width: 100%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.our-story-container p {
  width: 100%;
  text-align: justify;
  text-indent: 2rem;
  line-height: 1.75rem;
  color: #333;
}

@media(max-width: 1120px) {
  .our-story-container {
    flex-direction: column;
  }
}

@media(max-width: 768px) {
  .our-story-container p {
    line-height: 1.5rem;
  }
}

.photos-container {
  margin-top: 4rem;
  display: flex;
  gap: 1rem;
}

.photos-container img {
  width: 100%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

@media(max-width: 768px) {
  .photos-container {
    flex-direction: column;
  }
}

footer {
  width: 100%;
  background-color: #006635;
}

footer span {
  color: #fff;
  font-size: 1rem;
}

.footer-contact-container {
  background-color: #ddd;
}

.footer-contact-container-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.footer-contact-container-content img {
  width: 100%;
  max-width: 100px;
}

.footer-contacts-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.footer-social-media-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.footer-social-media-container span {
  font-size: 1.125rem;
}

@media(max-width: 768px) {
  .footer-social-media-container span {
    font-size: 1rem;
  }
}

.footer-social-media-icons-container {
  display: flex;
  gap: 0.5rem;
}

.footer-social-media-icons-container svg {
  color: white;
  font-size: 32px;
}

@media(max-width: 600px) {
  .footer-social-media-container span {
    font-size: 0.875rem;
  }

  .footer-social-media-icons-container svg {
    font-size: 24px;
  }
}